body{background: rgb(64, 167, 202);
    
    width: 100%;
    height: 100%;
    justify-content: center;
}
h1{
    background: linear-gradient(rgb(71, 230, 227), rgb(3, 118, 108));
    border-radius: 5px;
    width: 500px;
    height: 30%;
    text-align: center;
    color: rgb(106, 11, 194);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

p{
text-align: center;
width: 150px;
font-size: 20px;
border-radius: 10px;
}



button{
    background: #02565c;
    color: rgb(255, 255, 255);
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
    
    
    

}
button:hover{background-color: aquamarine;}



#container{display: block;}

